<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

</head>
<body>
<form method = "POST" action="/login">
    <input type = "text" name = "email" placeholder="email">
    <br>
    <br>
    <input type = "password" name = "password" placeholder="....">
    <br>
    <br>
    <input type = "submit" value = "Login">
</form>
</body>
</html>
